{# -*- coding: utf-8 -*- #}
{% extends "admin.html" %}

{% macro fff(img) -%}
  <img src="{{ url_for('famfamfam/get', file=img + ".png") }}" />
{%- endmacro %}

{% set left = fff("arrow_left") %}
{% set right = fff("arrow_right") %}
{% set up = fff("arrow_up") %}
{% set down = fff("arrow_down") %}
{% set add = fff("page_add") %}
{% set del = fff("delete") %}
{% set move = "nut:pages/move" %}
{% set add_to = "nut:pages/add" %}
{% set delete = "nut:pages/delete" %}
{% set edit = "nut:pages/edit" %}

{% macro rec(node, id=None) %}
  {% if id %}<ul id="{{ id }}">{% else %}<ul>{% endif %}
  {% set cn = node.child_nodes %}
  {% for pos, n in cn.items() %}
  {% set type = ('folder','page','file')[n.type] %}
  <li{% if n.child_nodes|length > 0 %} class="has-children"{% endif %}>
  <div class="state">{{ n.get_state() }}</div>
  <div class="owner"><small>{{ n.author }}</small></div>
  <div class="updated"><small>{{ n.updated|date("%D %H:%M") }}</small></div>
  <div class="modify">
	{%- if n.ancestors|length > 1 -%}{{ link(move, left, A=n.get_key(), mode="after", B=node.get_key()) }}{%- else -%}{{ left }}{%- endif -%}
	{%- if pos > 0 -%}{{ link(move, up, A=n.get_key(), mode="before", B=cn[pos-1].get_key()) }}{%- else -%}{{ up }}{%- endif -%}
	{%- if cn|length > pos + 1 -%}{{ link(move, down, A=n.get_key(), mode="after", B=cn[pos+1].get_key()) }}{%- else -%}{{ down }}{%- endif -%}
	{%- if pos > 0 and cn[pos-1].type != 1 -%}{{ link(move, right, A=n.get_key(), mode="to", B=cn[pos-1].get_key()) }}{%- else -%}{{ right }}{%- endif -%}
	{%- if n.type == 0 -%}{{ link(add_to, add, key=n.get_key()) }}{%- else -%}{{ add }}{%- endif -%}
	{{ link(delete, del, key=n.get_key()) }}
  </div>
  {% if type != 'folder' -%}
  <div class="link"><small><a class="simple" href="{{ n.get_absolute_url() }}" target="_blank">view</a></small></div>
  {%- endif %}
  {% if n.is_cached() -%}
  <div class="cache"><small>Cached</small></div>
  {%- endif %}
  <div class="name {{ type }}-node ui-helper-clearfix">{{ link(edit, n.name, key=n.get_key()) }}</div>
  {% if cn and cn|length > 0 %}{{ rec(n) }}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{% block content %}
        <!-- content -->
        <h1>Pages</h1>
<div id="list">

<div id="list-header">
    <div class="state">Status</div>
	<div class="owner">Owner</div>
	<div class="updated">Updated</div>
    <div class="modify">Modify</div>
    <div>Title</div>
</div>
{% if root.child_nodes and root.child_nodes|length > 0 %}
{{ rec(root) }}
{% endif %}
Add a {{ link('nut:pages/add', 'new page') }} 
<small>or</small> a {{ link('nut:pages/add_folder', 'new folder') }}
</div>

        <!-- end content -->
{% endblock %}