{# -*- coding: utf-8 -*- #}
{% extends 'app/admin.html' %}

{% macro rec(node, id=None, class=None) %}
{% if id %}
<ul id="{{ id }}">
{% else %}
<ul>
{% endif %}
  {% for pos, n in node.child_nodes.items() %}
  <li class="node level-{{node.ancestors|length + 1}}">
      <div class="page">
        <span class="w1">
		<img align="middle" title="" src="/media/images/collapse.png" class="expander" alt="toggle children"/>
				<a
      href="/pages/edit/{{ node.get_key() }}"
      title="articles/">
		<img align="middle" class="icon" src="/media/images/page.png"
      alt="page icon" /> <span class="title">  {{ n.name }}</span></a>
		</span>
	  </div>
	  <div class="status published-status">{{ n.state }}</div>
       {% if node.child_nodes|length > 0 %}{{ rec(n) }}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}


{% block content %}
<!-- content -->
        <h1>Delete File</h1>

 <form action="." method="post">
<div class="form-area">
Do you really want to delte this File:
  <div id="meta-pages" class="pages">
  <div id="div-title" class="title" title="Page Title">
	{{ file.name }}
  </div>
  </div> 
  {% if file.child_nodes|length > 0 %}
  The following Files are affected:
  <div style="background-color: #fff">
  <div id="site-map-def">
  <div class="page">File</div>
  <div class="status">Status</div>
  </div>
  {{ rec(file, id='site-map') }}
  </div>
  {% endif %}
  </div>
  <p class="buttons">
    {{ form.drop(class='button') }}
  {% if file.child_nodes|length > 0 %}
    {{ form.cascade(class='button') }}
  {% endif %}
    or <a href="/admin/files/">Cancel</a>
  </p>

</form>

<script type="text/javascript">
    Field.activate('page_title');
</script>
<!-- end content -->
{% endblock %}